#addmovie {
  text-align: center;
  input#add {
    width: 400px;
    height: 30px;
    margin: 10px 0;
    border: 1px solid #262626;

    background-color: rgba(0, 0, 0, 0.8);
    &.loading {
      background-image: url('/assets/loading.gif');
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: 410px 7px;
    }
    
    font-size: 'Pontano Sans', sans-serif;
    color: #DEDEDE;
    font-size: 20px;
    outline: none;
    padding: 0px 10px;
    padding-right: 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px #DEDEDE;
  }

}
