footer {
  background: rgba(0, 0, 0, 0.6);
  color: #E3E3E3;
  height: 80px;
  position: fixed;
  bottom: 0;
  left: 20px;
  right: 20px;
  border-top-left-radius: 60px 40px;
  border-top-right-radius: 60px 40px;
  border: none;
  box-shadow: 0 0 30px black;
}

#controls {
  width: 640px;
  margin: 0 auto;
}

.control {
  float: left;
  width: 200px;
  padding: 0 5px;
  border-left: 1px solid #E3E3E3;
  height: 80px;
  &:first-child {
    border-left: none;
  }

  h4 {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 20px;
    line-height: 25px;
  }
}

#poster-width-value {
  text-align: center;
}

button#save {
  margin-top: 20px;
  width: 180px;
  height: 40px;
  font-size: 20px;

  &.important {
    box-shadow: inset 0px 0px 25px #DB4F56;
  }
}
