body {
  background: url('/assets/white_wall.png');
}

header {
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0px 10px 50px whiteSmoke;

  h1 {
    margin: 0;
    font-size: 50px;
    line-height: 120px;
    color: whiteSmoke;
    text-align: center;
    font-family: 'Terminal Dosis';
  }
}

