#posterwall {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
  li {
    margin: 0;
    padding: 0px;
    float: left;
    text-align: center; 
  }

  .poster {
    width: 180px;
    height: 270px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
  }

  .poster-ui {
    background-color: rgba(0, 0, 0, 0.9);
    color: #FFF;
    position: absolute;
    &.poster-info {
      bottom: 0px;
      width: 100%;
    }

    &.delete-poster {
      color: red;
      font-weight: bold;
      font-size: 25px;
      padding: 4px;
      top: 0px;
      right: 0px;
      cursor: pointer;
    }
    overflow: none;
    display: none;
  }

  .poster:hover .poster-ui {
    display: block;
  }

}
