@import url(http://fonts.googleapis.com/css?family=Syncopate:700);

#content {
  width: 800px;
  margin: 10px auto;
  padding: 10px 10px;
  
}

#WERECOOL, #BECOOLBITCH {
  text-align: center;
  }

#WERECOOL {
  font-size: 20px;
}

#BECOOLBITCH {
  font-weight: bold;
  font-family: 'Syncopate', sans-serif;
  font-size: 65px;
  color: #333;
  text-shadow: 0 4px 2px #333;
}
