- if @user == current_user
  #msg.info
    %p This is your posterwall as others see it. To add and remove movies and configure its apperance, switch to #{link_to "edit mode", edit_user_path(@user)}

%header
  %h1 #{possesses(@user.name)} Posterwall

#posterwall
  %h2 Uh oh. There doesn't seem to be much here.
