#content
  :markdown
    ## About Posterizer
    Posterizer is a slick webapp that creates beautiful posterwalls from your favorite movies. Posterizer integrates with facebook, so you don't have to remember another username/password. Once you register, you can add posters to your posterwalls and configure its appearance. Additionaly, you can export your posterwall to an image.

    Posterizer was developed with lots of love and Ruby on Rails by [me](http://chrisp.gr). Posterizer's movie search and posters are powered by [themoviedb.org](http://themoviedb.org). Posterizer is open source, the code is on [Github](https://github.com/tech-no-crat/posterizer). Of course, pull requests are always welcome.

    ## Contact
    Email: christos.porios@gmail.com


