= render 'layouts/loginbox'
#banner
  #inside
    #logobox.left
      %h1#logo Posterizer
      %p#motto Posters from your favorite movies
    #about.left
      %p Posterizer creates <span>beautiful</span> posterwalls from your <span>favorite movie</span> posters.
      #buttons
        %a.btn.connect_facebook{:href => '/auth/facebook'} Connect with facebook
        %p#promise We'll never spam, we're cool. Promise.
        

