#content
  :markdown
    BY ACCESSING THIS WEB SITE, YOU ARE AGREEING TO BE BOUND BY THESE WEB SITE TERMS AND CONDITIONS OF USE, ALL APPLICABLE LAWS AND REGULATIONS, AND AGREE THAT YOU ARE RESPONSIBLE FOR COMPLIANCE WITH ANY APPLICABLE LOCAL LAWS. IF YOU DO NOT AGREE WITH ANY OF THESE TERMS, YOU ARE PROHIBITED FROM USING OR ACCESSING THIS SITE.

    OH I'M SORRY, DID I BREAK YOUR CONCENTRATION? WELL, YOU BETTER AGREE WITH THESE TERMS, BITCH:
 
  #WERECOOL We're cool, so...
  #BECOOLBITCH BITCH, BE COOL.

  %img{"src" => "/assets/tos.jpeg", "alt" => "Vincet from Pulp Fiction being awesome", "width" => "800"}
  
