#loginbox
  - if current_user
    #{link_to current_user.handle, current_user, :class => 'profile_link'} [ #{link_to 'Logout', logout_url} ]
  - else
    Already registered? #{link_to 'Login',  login_url}


