= render 'layouts/head', :javascript_manifest => 'application', :stylesheet_manifest => 'landing-manifest'
%body
  - if flash[:notice]
    #msg.info= flash[:notice]
  = yield
  = render 'layouts/footer'
